{% extends 'base/base.html' %} {% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Nómina</h6>
    </div>

    <div class="card-body">

        <div class="col">

            <h5 class="my-3 font-weight-bold text-primary">Nómina</h5>

            <!-- Nómina -->
            <div class="mb-3 text-center">
                <div class="m-1 d-inline">
                    <i class="fas fa-circle" aria-hidden="true" style="color: #cdd8f6;"></i>
                    <span class="status-primary mx-2">Información General</span>
                </div>
                <div class="m-1 d-inline">
                    <i class="fas fa-circle" aria-hidden="true" style="color: #bff0de;"></i>
                    <span class="status-success mx-2">Devengados</span>
                </div>
                <div class="m-1 d-inline">
                    <i class="fas fa-circle" aria-hidden="true" style="color: #fceec9;"></i>
                    <span class="status-warning mx-2">Deducidos</span>
                </div>
            </div>

            <table style="border: 1px solid #ccc;" class="table table-hover table-responsive-lg shadow-lg display rounded">

                <caption>
                    <span class="font-weight-bold">Libro Diario</span>
                </caption>

                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="border: 0px;">Nombre</th>
                        <th scope="col" style='border: 0px;'>Cargo</th>
                        <th scope="col" style='border: 0px;'>Salario</th>
                        <th scope="col" style="border: 0px;">D.Laborados</th>
                        <th scope="col" style="border: 0px;">Sueldo</th>
                        <th scope="col" style="border: 0px;">Extras y Recargos</th>
                        <th scope="col" style="border: 0px;">Comisiones</th>
                        <th scope="col" style="border: 0px;">Auxilio</th>
                        <th scope="col" style="border: 0px;">T.Devengado</th>
                        <th scope="col" style='border: 0px;'>IBC</th>
                        <th scope="col" style="border: 0px;">Salud</th>
                        <th scope="col" style="border: 0px;">Pension</th>
                        <th scope="col" style="border: 0px;">FSP</th>
                        <th scope="col" style="border: 0px;">Deducción X</th>
                        <th scope="col" style="border: 0px;">T.Deducido</th>
                        <th scope="col" style="border: 0px;">Pago Neto</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="table-primary">Juliana Mateus</td>
                        <td class="table-primary">Auxiliar Contable</td>
                        <td class="table-primary">877.80</td>
                        <td class="table-primary">30</td>
                        <td class="table-success">877.80</td>
                        <td class="table-success">-</td>
                        <td class="table-success">-</td>
                        <td class="table-success">-</td>
                        <td class="table-success">877.80</td>
                        <td class="table-warning">877.80</td>
                        <td class="table-warning">-</td>
                        <td class="table-warning">-</td>
                        <td class="table-warning">-</td>
                        <td class="table-warning">-</td>
                        <td class="table-warning">-</td>
                        <td>877.80</td>
                    </tr>
                    <tr>
                        <td class="table-primary">Pepito Perez</td>
                        <td class="table-primary">Gerente</td>
                        <td class="table-primary">300.000</td>
                        <td class="table-primary">27</td>
                        <td class="table-success">270.000</td>
                        <td class="table-success">-</td>
                        <td class="table-success">-</td>
                        <td class="table-success">-</td>
                        <td class="table-success">270.000</td>
                        <td class="table-warning">270.000</td>
                        <td class="table-warning">1.800</td>
                        <td class="table-warning">1.800</td>
                        <td class="table-warning">-</td>
                        <td class="table-warning">-</td>
                        <td class="table-warning">3.600</td>
                        <td>266400</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <!-- Seguridad Social -->
        <div class="col">

            <h5 class="my-3 font-weight-bold text-primary">Seguridad Social</h5>

            <table style="border: 1px solid #ccc;" class="table table-hover table-responsive-lg shadow-lg display rounded">

                <caption style="caption-side: bottom;">Total: 1298312937</caption>

                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="border: 0px;">Concepto</th>
                        <th scope="col" style="border: 0px;">Base</th>
                        <th scope="col" style="border: 0px;">Porcentaje (%)</th>
                        <th scope="col" style="border: 0px;">Provición Mensual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SALUD</td>
                        <td></td>
                        <td>8.5%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PENSIÓN</td>
                        <td></td>
                        <td>12%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ARL</td>
                        <td></td>
                        <td>0.52%</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Aportes Parafiscales -->
        <div class="col">

            <h5 class="my-3 font-weight-bold text-primary">Aportes Parafiscales</h5>

            <table style="border: 1px solid #ccc;" class="table table-hover table-responsive-lg shadow-lg display rounded">

                <caption style="caption-side: bottom;">Total: 1298312937</caption>

                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="border: 0px;">Concepto</th>
                        <th scope="col" style="border: 0px;">Base</th>
                        <th scope="col" style="border: 0px;">Porcentaje (%)</th>
                        <th scope="col" style="border: 0px;">Provición Mensual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>COMFENALCO</td>
                        <td></td>
                        <td>8.5%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ICBF</td>
                        <td></td>
                        <td>12%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SENA</td>
                        <td></td>
                        <td>0.52%</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Prestaciones Fiscales -->
        <div class="col">

            <h5 class="my-3 font-weight-bold text-primary">Prestaciones Fiscales</h5>

            <table style="border: 1px solid #ccc;" class="table table-hover table-responsive-lg shadow-lg display rounded">

                <caption style="caption-side: bottom;">Total: 1298312937</caption>

                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="border: 0px;">Concepto</th>
                        <th scope="col" style="border: 0px;">Base</th>
                        <th scope="col" style="border: 0px;">Porcentaje (%)</th>
                        <th scope="col" style="border: 0px;">Provición Mensual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CESANTIAS</td>
                        <td></td>
                        <td>8.5%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>INTERESES CESANTIAS</td>
                        <td></td>
                        <td>12%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PRIMA DE SERVICIOS</td>
                        <td></td>
                        <td>0.52%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>VACIONES</td>
                        <td></td>
                        <td>0.52%</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %} {% block js_page %}

<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('.table').DataTable();
    });
</script>

{% endblock %}