{% extends 'base/base.html' %} {% block page_content %}

<div>
    <form method="POST" class="form-inline" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12">
            {% if obj %}
            <div class="card border-left-success shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                    {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <div class="card-header">
                                        {% if obj %} Editar {% else %} Nueva {% endif %} Empresa
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>

                                <div class="row px-3 py-3">
                                    <div class="col">
                                        <div class="input-group">
                                            <fieldset class="border px-3 py-3">

                                                <legend>Logo</legend>

                                                {% if request.user.company.logo.url %}
                                                <div class="col text-center pb-3">
                                                    <img style="width: 100px;" src="{{ request.user.company.logo.url }}" alt="">
                                                </div>
                                                {% endif %}

                                                <label class="pb-3 d-block">
                                                    Logo:
                                                    {{ form.logo }}
                                                </label>

                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <fieldset class="border px-3 py-3">

                                                <legend>Información</legend>

                                                <label class="pb-3 d-block">
                                                    Nombre:
                                                    {{ form.nombre }}
                                                </label>

                                                <label class="pb-3 d-block">
                                                    Nombre Completo:
                                                    {{ form.nombre_completo }}
                                                </label>

                                                <label class="pb-3 d-block">
                                                    RUC:
                                                    {{ form.ruc }}
                                                </label>

                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <fieldset class="border px-3 py-3">

                                                <legend>Contacto</legend>

                                                <label class="pb-3 d-block">
                                                    Correo:
                                                    {{ form.correo }}
                                                </label>

                                                <label class="pb-3 d-block">
                                                    Teléfono:
                                                    {{ form.telefono }}
                                                </label>

                                                <label class="pb-3 d-block">
                                                    Dirección:
                                                    {{ form.direccion }}
                                                </label>

                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <fieldset class="border px-3 py-3">

                                                <legend>Ajustes</legend>

                                                <label class="pb-3 d-block">
                                                    País / Nacionalidad:
                                                    {{ form.pais }}
                                                </label>

                                                <label class="pb-3 d-block">
                                                    Declarante de IVA:
                                                    {{ form.tributa }}
                                                </label>

                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown-divider"></div>
                                <div class="card-footer">
                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-danger px-5 mx-1"><span class="fa fa-save "></span>Guardar</button>
                                        <a href="{% url 'param:administracion_empresa' %}" class="btn btn-outline-success px-5 mx-1"><span class="fa fa-undo "></span>Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    </div>

    {% endblock page_content %} {% block js_page %} {% endblock %}
