{% extends 'base/base.html' %} {% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Productos</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones</div>
                <a class="dropdown-item" onclick="return abrir_modal('{% url 'inv:producto_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nuevo</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj%}
        <div class="alert alert-info">
            No hay productos
        </div>
        {% else %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Sub. Cat.</th>
                    <th>Código</th>
                    <th>Barras</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Marca</th>
                    <th>Estado</th>
                    <th>IVA</th>
                    <th>Tipo</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{item.subcategoria}}</td>
                    <td>{{item.codigo}}</td>
                    <td>{{item.codigo_barras}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.existencia}}</td>
                    <td>{{item.marca}}</td>
                    <td>{{item.estado|yesno:"Activo , Inactivo"}}</td>
                    <td>{{item.tiene_iva|yesno:"SI , NO"}}</td>
                    <td>{{item.es_servicio|yesno:"Servicio , Producto"}}</td>

                    <td>
                        <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'inv:producto_update' item.id %}')">
                        <i class="far fa-edit" aria-hidden="true"></i></button>
                        <a href="{% url 'inv:producto_inactivar' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-thumbs-down" aria-hidden="true"></i></a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %} {% block js_page %}
<script>
    $(document).ready(function() {
        $('.table').DataTable();
    });
</script>

{% endblock %}