{% extends 'base/base.html' %}
<div></div>
{% load mathfilters %}
<div></div>
{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Libro Diario</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">

      <div class="card-body">

          <div class="mb-3 text-center">
              <div class="m-1 d-inline">
                  <i class="fas fa-circle" aria-hidden="true" style="color: #cdd8f6;"></i>
                  <span class="status-primary mx-2">Información General</span>
              </div>
              <div class="m-1 d-inline">
                  <i class="fas fa-circle" aria-hidden="true" style="color: #bff0de;"></i>
                  <span class="status-success mx-2">Devengados</span>
              </div>
              <div class="m-1 d-inline">
                  <i class="fas fa-circle" aria-hidden="true" style="color: #fceec9;"></i>
                  <span class="status-warning mx-2">Deducidos</span>
              </div>
          </div>

        <table style="border: 1px solid #ccc;" class="table table-responsive-lg table-hover display shadow rounded">

            <caption>
                <span class="font-weight-bold">Libro Diario</span>
            </caption>

            <thead class="thead-ligth">
                <tr>
                    <th scope="col" style="border: 0px;">Nombre</th>
                    <th scope="col" style='border: 0px;'>Cargo</th>
                    <th scope="col" style='border: 0px;'>Salario $</th>
                    <th scope="col" style="border: 0px;">D.Laborados</th>
                    <th scope="col" style="border: 0px;">Sueldo $</th>
                    <th scope="col" style="border: 0px;">H.Extras y Recargos</th>
                    <th scope="col" style="border: 0px;">Comisiones</th>
                    <th scope="col" style="border: 0px;">Auxilio</th>
                    <th scope="col" style="border: 0px;">T.Devengado $</th>
                    <th scope="col" style='border: 0px;'>IBC $</th>
                    <th scope="col" style="border: 0px;">Salud</th>
                    <th scope="col" style="border: 0px;">Pension</th>
                    <th scope="col" style="border: 0px;">FSP</th>
                    <th scope="col" style="border: 0px;">Deducción X</th>
                    <th scope="col" style="border: 0px;">T.Deducido</th>
                    <th scope="col" style="border: 0px;">Pago Neto $</th>
                </tr>
            </thead>
            <tbody>


                <tr>
                  <td class="table-primary">Juliana Mateus</td>
                  <td class="table-primary">Auxiliar Contable</td>
                  <td class="table-primary">877.80</td>
                  <td class="table-primary">30</td>
                  <td class="table-success">877.80</td>
                  <td class="table-success">-</td>
                  <td class="table-success">-</td>
                  <td class="table-success">-</td>
                  <td class="table-success">877.80</td>
                  <td class="table-warning">877.80</td>
                  <td class="table-warning">-</td>
                  <td class="table-warning">-</td>
                  <td class="table-warning">-</td>
                  <td class="table-warning">-</td>
                  <td class="table-warning">-</td>
                  <td>877.80</td>
                </tr>
                <tr>
                  <td class="table-primary">Pepito Perez</td>
                  <td class="table-primary">Gerente</td>
                  <td class="table-primary">300.000</td>
                  <td class="table-primary">27</td>
                  <td class="table-success">270.000</td>
                  <td class="table-success">-</td>
                  <td class="table-success">-</td>
                  <td class="table-success">-</td>
                  <td class="table-success">270.000</td>
                  <td class="table-warning">270.000</td>
                  <td class="table-warning">1.800</td>
                  <td class="table-warning">1.800</td>
                  <td class="table-warning">-</td>
                  <td class="table-warning">-</td>
                  <td class="table-warning">3.600</td>
                  <td>266400</td>
                </tr>

            </tbody>
        </table>


    </div>
</div>

{% endblock %} {% block js_page %}

<script>
  /*$(document).ready(function() {
      $('.table').DataTable({
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'excel',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4 ]
                  }
              },
              {
                  extend: 'csv',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4 ]
                  }
              },
              {
                  extend: 'pdf',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4 ]
                  }
              },
              {
                  extend: 'print',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4 ]
                  }
              },
              {
                  extend: 'copy',
                  exportOptions: {
                      columns: [ 0, 1, 2, 3, 4 ]
                  }
              },
          ]
      });
  });*/
</script>

{% endblock %}
